@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Slope;
  src: url('../fonts/slopes.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Slopes;
  src:url(../fonts/Slopes.ttf) format('ttf');
}


.font-serrat {
    font-family: "Montserrat", sans-serif;
}

.font-lilita {
    font-family: "Lilita One", sans-serif;
}

@tailwind utilities;